In [165]:
import pandas as pd
import numpy as np
import itertools
import snscrape.modules.twitter as sntwitter
from snscrape.modules.twitter import TwitterTweetScraperMode

from langchain import LLMChain
from langchain.llms import OpenAI
from langchain.chains.summarize import load_summarize_chain
from langchain.chains.mapreduce import MapReduceChain
from langchain.prompts import PromptTemplate
from langchain.text_splitter import CharacterTextSplitter, NLTKTextSplitter
from langchain.docstore.document import Document

import os

In [88]:
startThread = 1642078259323219969
getData = sntwitter.TwitterTweetScraper(startThread, mode=TwitterTweetScraperMode.SCROLL).get_items()
display(getData)

for data in getData:
    print(data.rawContent, data.user, data.likeCount, data.viewCount, data.retweetCount, data.quoteCount)

Harus diakui bahwa hard skill yang paling dibutuhkan oleh data analyst adalah SQL,

Kali ini Pacmin mau ngajak kalian untuk berkenalan dengan SQL, fungsinya juga pekerjaan yang membutuhkan SQL.

Mari kita bahas! https://t.co/UqR7PtX2No https://twitter.com/pacmannai 396 37037 57 8
SQL (Structured Query Language) adalah bahasa pemrograman standar yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database.

SQL termasuk sebagai database language yang paling umum digunakan.

Salah satu alasannya adalah karena bentuk… https://twitter.com/pacmannai 0 1680 0 0
Kita mulai dulu dari sejarah mengenai SQL,

Pada tahun 1970-an, bahasa pemrograman SQL diciptakan oleh periset dari IBM, yakni Raymond Boyce dan Donald Chamberlin.

Dulunya disebut SEQUEL, program ini didesain untuk memanipulasi dan menarik data yang disimpan di sistem manajemen… https://t.co/uNWinmiZ9x https://twitter.com/pacmannai 1 1618 0 0
Jadi kalo ditanya, "ESQYUEL", "ESQIEL" atau "SEQUEL" sepertinya yang SEQUEL adalah jawaban paling tepat.

Kalian udah pada bisa SQL belum? https://twitter.com/pacmannai 1 1317 0 0
Secara umum, fungsi SQL dalam berkomunikasi dengan database terdiri atas empat fungsi utama yang disingkat CRUD, yaitu:

- Create (membuat)
- Read (membaca)
- Update (memperbaharui), dan
- Delete (menghapus).

Kalo kalian pernah liat loker nyebutin "memahami CRUD" ya ini… https://twitter.com/pacmannai 6 1422 1 0
Tapi sebenernya yang dipelajari di SQL itu bukan cuma beberapa command untuk CRUD aja,

Misalnya untuk efisiensi bisa menggunakan SQL window function seperti ini: https://t.co/XoNwlEllig https://twitter.com/pacmannai 0 1400 0 0
Dari sumber yang Pacmin baca, ternyata sebagian besar loker data analyst itu syaratnya adalah memahami penggunaan SQL.

Kalo kalian nyadar, hampir semua syaratnya paham SQL sih, ada beberapa yang masih menggunakan Excel tapi memahami SQL itu adalah wajib bagi DA/BI. https://t.co/AlK5cNc6Nv https://twitter.com/pacmannai 0 1152 1 0
Kenapa begitu?

Karena dalam pekerjaannya bakal banyak menarik data yang dibutuhkan oleh beberapa divisi atau narik data untuk dianalisis.

Semakin jago orangnya, query yang dihasilkan efisien jadi biaya lebih kecil. https://twitter.com/pacmannai 0 949 0 0
Apakah cuma Data Analyst atau BI aja yang memerlukan SQL?

Nggak juga, ada Programmer, Data Engineer, Data Scientist dan masih banyak lagi,

Lengkapnya bisa kalian baca-baca di sini:
https://t.co/Qv5gnvJW3q https://twitter.com/pacmannai 1 918 2 0
Nah, kalo mau mulai belajar SQL bisa dari mana sih min?

Oke, Pacmin berikan beberapa rekomendasi:

1/ Belajar di website yang bisa langsung praktek:
https://t.co/PFiugDcEhf https://twitter.com/pacmannai 8 901 3 0
2/ Belajar lewat game interaktif, game SQL Island:
https://t.co/xmFtGCqfrl https://twitter.com/pacmannai 8 991 0 0
3/ Belajar SQL sambil nongkrong, karena bisa install app di smartphone:

Kalian bisa install apps Sololearn dan pilih SQL di sana:
https://t.co/bCUTnqNrVm https://twitter.com/pacmannai 3 913 0 0
Terakhir, kalian bisa belajar SQL juga sambil ngabuburit bersama #PacBuburit

Pukul 16.00 WIB sore ini bakal dimulai nih Pacpeers, kalo mau interaksi langsung sama pembicara boleh daftar pada link yang tertera di poster
https://t.co/RMxNze6Nji https://twitter.com/pacmannai 3 936 0 0
Yang pengen nonton streaming aja di YouTube bisa langsung ke sini aja
https://t.co/sUID90gfNZ https://twitter.com/pacmannai 7 1062 0 0
Di Pacmann full courses juga diajarin SQL pada program BIGH, Analytic &amp; DS, Statistics, AI/ML Engineering dan Software &amp; Data Engineering, belajarnya juga kenyang karena materinya lengkap.

Mumpung baru buka promo nih!
https://t.co/zlqnoelypW https://twitter.com/pacmannai 2 1455 0 0
@pacmannai Pacman punya program khusus SQL dari beginner sampai Advance gak sih min? https://twitter.com/SansFrontieress 0 160 0 0
@pacmannai Sequel adalah koenji https://twitter.com/msrrohman 1 118 0 0

In [97]:
# Define the tweet URL
tweet_url = 'https://mobile.twitter.com/pacmannai/status/1642078259323219969'

# Extract the username and tweet ID from the URL using regex
match = re.match(r'https://mobile.twitter.com/(\w+)/status/(\d+)', tweet_url)
username = match.group(1)
start_thread = int(match.group(2))

# Scrape the tweets in the conversation thread
tweets = sntwitter.TwitterTweetScraper(start_thread, mode=TwitterTweetScraperMode.SCROLL).get_items()

# Create a list to store tweet data
tweets_data = []

# Iterate through the tweets and store relevant data in the list
for tweet in tweets:
    tweets_data.append([tweet.renderedContent, tweet.user.username, tweet.likeCount, tweet.viewCount, tweet.retweetCount, tweet.quoteCount])

# Create a DataFrame from the list
columns = ['Content', 'User', 'Likes', 'Views', 'Retweets', 'Quotes']
df = pd.DataFrame(tweets_data, columns=columns)

# Filter the DataFrame to include only tweets from the thread owner
filtered_df = df[df['User'] == username]

filtered_df

,Content,User,Likes,Views,Retweets,Quotes
0,Harus diakui bahwa hard skill yang paling dibu...,pacmannai,396,37213,57,8
1,SQL (Structured Query Language) adalah bahasa ...,pacmannai,0,1692,0,0
2,"Kita mulai dulu dari sejarah mengenai SQL,\n\n...",pacmannai,1,1625,0,0
3,"Jadi kalo ditanya, ""ESQYUEL"", ""ESQIEL"" atau ""S...",pacmannai,1,1323,0,0
4,"Secara umum, fungsi SQL dalam berkomunikasi de...",pacmannai,6,1427,1,0
5,Tapi sebenernya yang dipelajari di SQL itu buk...,pacmannai,0,1406,0,0
6,"Dari sumber yang Pacmin baca, ternyata sebagia...",pacmannai,0,1158,1,0
7,Kenapa begitu?\n\nKarena dalam pekerjaannya ba...,pacmannai,0,952,0,0
8,Apakah cuma Data Analyst atau BI aja yang meme...,pacmannai,1,921,2,0
9,"Nah, kalo mau mulai belajar SQL bisa dari mana...",pacmannai,8,904,3,0
10,"2/ Belajar lewat game interaktif, game SQL Isl...",pacmannai,8,996,0,0
11,"3/ Belajar SQL sambil nongkrong, karena bisa i...",pacmannai,3,918,0,0
12,"Terakhir, kalian bisa belajar SQL juga sambil ...",pacmannai,3,940,0,0
13,Yang pengen nonton streaming aja di YouTube bi...,pacmannai,7,1068,0,0
14,Di Pacmann full courses juga diajarin SQL pada...,pacmannai,2,1462,0,0

In [98]:
filtered_df["Content"][2]

'Kita mulai dulu dari sejarah mengenai SQL,\n\nPada tahun 1970-an, bahasa pemrograman SQL diciptakan oleh periset dari IBM, yakni Raymond Boyce dan Donald Chamberlin.\n\nDulunya disebut SEQUEL, program ini didesain untuk memanipulasi dan menarik data yang disimpan di sistem manajemen… https://t.co/uNWinmiZ9x'

In [99]:
# Define the tweet URL
tweet_url = 'https://mobile.twitter.com/pacmannai/status/1642078259323219969'

# Extract the username and tweet ID from the URL using regex
match = re.match(r'https://mobile.twitter.com/(\w+)/status/(\d+)', tweet_url)
username = match.group(1)
start_thread = int(match.group(2))

# Scrape the tweets in the conversation thread
tweets = sntwitter.TwitterTweetScraper(start_thread, mode=sntwitter.TwitterTweetScraperMode.SCROLL).get_items()

# Create a list to store tweet data
tweets_data = []

# Iterate through the tweets and store relevant data in the list
for tweet in tweets:
    # Clean the tweet content by replacing newlines, URLs, and hashtags with spaces
    content = tweet.rawContent.replace('\n', ' ').replace('http\S+', ' ').replace('#\S+', ' ')
    tweets_data.append([content, tweet.user.username, tweet.likeCount, tweet.viewCount, tweet.retweetCount, tweet.quoteCount])

# Create a DataFrame from the list
columns = ['Content', 'User', 'Likes', 'Views', 'Retweets', 'Quotes']
df = pd.DataFrame(tweets_data, columns=columns)

# Filter the DataFrame to include only tweets from the thread owner
filtered_df = df[df['User'] == username]

filtered_df

,Content,User,Likes,Views,Retweets,Quotes
0,Harus diakui bahwa hard skill yang paling dibu...,pacmannai,396,37266,57,8
1,SQL (Structured Query Language) adalah bahasa ...,pacmannai,0,1693,0,0
2,"Kita mulai dulu dari sejarah mengenai SQL, Pa...",pacmannai,1,1625,0,0
3,"Jadi kalo ditanya, ""ESQYUEL"", ""ESQIEL"" atau ""S...",pacmannai,1,1323,0,0
4,"Secara umum, fungsi SQL dalam berkomunikasi de...",pacmannai,6,1428,1,0
5,Tapi sebenernya yang dipelajari di SQL itu buk...,pacmannai,0,1407,0,0
6,"Dari sumber yang Pacmin baca, ternyata sebagia...",pacmannai,0,1158,1,0
7,Kenapa begitu? Karena dalam pekerjaannya baka...,pacmannai,0,953,0,0
8,Apakah cuma Data Analyst atau BI aja yang meme...,pacmannai,1,922,2,0
9,"Nah, kalo mau mulai belajar SQL bisa dari mana...",pacmannai,8,905,3,0
10,"2/ Belajar lewat game interaktif, game SQL Isl...",pacmannai,8,996,0,0
11,"3/ Belajar SQL sambil nongkrong, karena bisa i...",pacmannai,3,918,0,0
12,"Terakhir, kalian bisa belajar SQL juga sambil ...",pacmannai,3,940,0,0
13,Yang pengen nonton streaming aja di YouTube bi...,pacmannai,7,1068,0,0
14,Di Pacmann full courses juga diajarin SQL pada...,pacmannai,2,1462,0,0

In [100]:
# Combine the content of all tweets into a single text file
contents = ' '.join(filtered_df['Content'].tolist())

# Get information about the thread from the first row
views = filtered_df['Views'].iloc[0]
likes = filtered_df['Likes'].iloc[0]
retweets = filtered_df['Retweets'].iloc[0]
quotes = filtered_df['Quotes'].iloc[0]

# Create the text file
filename = f'{username}_thread.txt'
with open(filename, 'w') as f:
    f.write(contents)
    f.write('\n\n')
    f.write(f'This thread was viewed by {views} account(s), liked by {likes} account(s), retweeted by {retweets} account(s), and quoted by {quotes} account(s).')
    
print(f'The text file {filename} has been created.')

The text file pacmannai_thread.txt has been created.

In [120]:
def scrape_twitter_thread(url):
    """
    Scrapes a Twitter thread from the given URL and returns it as a string.

    Args:
    - url (str): The URL of the first tweet in the thread.

    Returns:
    - str: The content of the scraped tweets as a string.
    """
    # Extract the username and tweet ID from the URL using regex
    match = re.match(r'https?://(?:www\.|mobile\.)?twitter\.com/\w+/status/(\d+)', url)
    if match is None:
        raise ValueError("Invalid Twitter thread URL")
    username = url.split('/')[3]
    start_thread = int(match.group(1))

    # Scrape the tweets in the conversation thread
    tweets = sntwitter.TwitterTweetScraper(start_thread, mode=sntwitter.TwitterTweetScraperMode.SCROLL).get_items()

    # Create a list to store tweet data
    tweets_data = []

    # Iterate through the tweets and store relevant data in the list
    for tweet in tweets:
        # Clean the tweet content by replacing newlines, URLs, and hashtags with spaces
        content = tweet.rawContent.replace('\n', ' ').replace('http\S+', ' ').replace('#\S+', ' ')
        tweets_data.append([content, tweet.user.username, tweet.likeCount, tweet.viewCount, tweet.retweetCount, tweet.quoteCount])

    # Create a DataFrame from the list
    columns = ['Content', 'User', 'Likes', 'Views', 'Retweets', 'Quotes']
    df = pd.DataFrame(tweets_data, columns=columns)

    # Filter the DataFrame to include only tweets from the thread owner
    filtered_df = df[df['User'] == username]

    # Combine the content of all tweets into a single text file
    content = '\n\n'.join(filtered_df['Content'].tolist())

    # Get information about the thread from the first row
    views = filtered_df['Views'].iloc[0]
    likes = filtered_df['Likes'].iloc[0]
    retweets = filtered_df['Retweets'].iloc[0]
    quotes = filtered_df['Quotes'].iloc[0]

    # Return the content as a string
    output_str = f"{content}\n\nThis thread was viewed by {views} account(s), liked by {likes} account(s), retweeted by {retweets} account(s), and quoted by {quotes} account(s)."
    return output_str

url = "https://twitter.com/deduktifid/status/1640369935217233923?cxt=HHwWhsDUjfvw4cMtAAAA"
output = scrape_twitter_thread(url)
print(output)

Skipping unrecognised entry ID: 'label-7583002101637540179'

Sederet artis atau influencer ternama turut mempromosikan situs rumah judi online. Dari mulai penyanyi dangdut, vokalis band besar, aktor, komedian, hingga DJ, ada di dalam daftarnya.  Bagian ketiga serial liputan Rumah Judi Online.  https://t.co/t585MmFXTv https://t.co/UZscCAAJSF

Tidak hanya Nikita Mirzani, sekelas supermodel pun pernah mempromosikan iklan judi online. https://t.co/qN4RNyE5VG

Agen138 menjadi salah satu rumah judi online yang paling banyak dipromosikan oleh artis-artis ternama Indonesia. https://t.co/fxrtvXPQnt

Dari Denny Cagur, Ari Lasso, Gilang Dirga, hingga Boy William, semuanya mempromosikan rumah judi online yang sama.  Sumber video: Agen138 https://t.co/wuXk4XRmKM

Tak ketinggalan, Jessyca Iskandar dan Sule juga pernah mempromosikan rumah judi online.   Sumber video: WymBet dan Facebook MpoHoki88. https://t.co/lAh3VZ4v0f

Nyaris di semua iklan rumah judi online oleh para artis itu, frasa “judi online” diganti dengan “game online”. https://t.co/R807atElUF

Menurut M. Natsir Kongah, Koordinator Kelompok Substansi Humas PPATK, artis atau influencer tak hanya berada di hilir dalam kasus rumah judi online. https://t.co/cLp0Ypps0o

Simak laporan lengkapnya https://t.co/t585MmFXTv

Baca kembali laporan pertama dari serial liputan Rumah Judi Online kami. Tentang bagimana rumah judi online beroperasi, peran pemegang lisensi, hingga raksasa waralaba judi online yang mensponsori klub sepakbola dan tercatat di dokumen Panama Papers. https://t.co/4QTJ8KAq5f

Dan jangan lupa juga baca kembali laporan kedua dari serial liputan Rumah Judi Online kami. Tentang kisah mantan pekerja rumah judi online di Jakarta. https://t.co/Is8soXxo3X

This thread was viewed by 2087396 account(s), liked by 7356 account(s), retweeted by 3509 account(s), and quoted by 454 account(s).

In [168]:
text_splitter = NLTKTextSplitter(separator="\n")
texts = text_splitter.split_text(output)
texts
threads = [Document(page_content=t) for t in texts[:2]]
threads

[Document(page_content='Harus diakui bahwa hard skill yang paling dibutuhkan oleh data analyst adalah SQL,  Kali ini Pacmin mau ngajak kalian untuk berkenalan dengan SQL, fungsinya juga pekerjaan yang membutuhkan SQL.\nMari kita bahas!\nhttps://t.co/UqR7PtX2No\n\nSQL (Structured Query Language) adalah bahasa pemrograman standar yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database.\nSQL termasuk sebagai database language yang paling umum digunakan.\nSalah satu alasannya adalah karena bentuk…\n\nKita mulai dulu dari sejarah mengenai SQL,  Pada tahun 1970-an, bahasa pemrograman SQL diciptakan oleh periset dari IBM, yakni Raymond Boyce dan Donald Chamberlin.\nDulunya disebut SEQUEL, program ini didesain untuk memanipulasi dan menarik data yang disimpan di sistem manajemen… https://t.co/uNWinmiZ9x\n\nJadi kalo ditanya, "ESQYUEL", "ESQIEL" atau "SEQUEL" sepertinya yang SEQUEL adalah jawaban paling tepat.\nKalian udah pada bisa SQL belum?\nSecara umum, fungsi SQL dalam berkomunikasi dengan database terdiri atas empat fungsi utama yang disingkat CRUD, yaitu:   - Create (membuat) - Read (membaca) - Update (memperbaharui), dan  - Delete (menghapus).\nKalo kalian pernah liat loker nyebutin "memahami CRUD" ya ini…\n\nTapi sebenernya yang dipelajari di SQL itu bukan cuma beberapa command untuk CRUD aja,   Misalnya untuk efisiensi bisa menggunakan SQL window function seperti ini: https://t.co/XoNwlEllig\n\nDari sumber yang Pacmin baca, ternyata sebagian besar loker data analyst itu syaratnya adalah memahami penggunaan SQL.\nKalo kalian nyadar, hampir semua syaratnya paham SQL sih, ada beberapa yang masih menggunakan Excel tapi memahami SQL itu adalah wajib bagi DA/BI.\nhttps://t.co/AlK5cNc6Nv\n\nKenapa begitu?\nKarena dalam pekerjaannya bakal banyak menarik data yang dibutuhkan oleh beberapa divisi atau narik data untuk dianalisis.\nSemakin jago orangnya, query yang dihasilkan efisien jadi biaya lebih kecil.\nApakah cuma Data Analyst atau BI aja yang memerlukan SQL?\nNggak juga, ada Programmer, Data Engineer, Data Scientist dan masih banyak lagi,   Lengkapnya bisa kalian baca-baca di sini: https://t.co/Qv5gnvJW3q\n\nNah, kalo mau mulai belajar SQL bisa dari mana sih min?\nOke, Pacmin berikan beberapa rekomendasi:  1/ Belajar di website yang bisa langsung praktek: https://t.co/PFiugDcEhf\n\n2/ Belajar lewat game interaktif, game SQL Island: https://t.co/xmFtGCqfrl\n\n3/ Belajar SQL sambil nongkrong, karena bisa install app di smartphone:  Kalian bisa install apps Sololearn dan pilih SQL di sana: https://t.co/bCUTnqNrVm\n\nTerakhir, kalian bisa belajar SQL juga sambil ngabuburit bersama #PacBuburit  Pukul 16.00 WIB sore ini bakal dimulai nih Pacpeers, kalo mau interaksi langsung sama pembicara boleh daftar pada link yang tertera di poster https://t.co/RMxNze6Nji\n\nYang pengen nonton streaming aja di YouTube bisa langsung ke sini aja https://t.co/sUID90gfNZ\n\nDi Pacmann full courses juga diajarin SQL pada program BIGH, Analytic &amp; DS, Statistics, AI/ML Engineering dan Software &amp; Data Engineering, belajarnya juga kenyang karena materinya lengkap.\nMumpung baru buka promo nih!\nhttps://t.co/zlqnoelypW\n\nThis thread was viewed by 38938 account(s), liked by 406 account(s), retweeted by 59 account(s), and quoted by 8 account(s).', lookup_str='', metadata={}, lookup_index=0)]

In [164]:
prompt_template = """ Write a concise summary of the following twitter thread:

{text}

CONCISE THREAD SUMMARY WITH CASUAL TONE AND DISPLAY THE VIEWED COUNTS, 
LIKES COUNTS, RETWEETS COUNTS, AND QUOTES COUNTS AT THE END OF THE SUMMARY ALL IN BAHASA INDONESIA. AT THE
START OF THE ANSWER ADD A SENTENCE "Berikut ringkasan threadnya":
"""


myprompt = PromptTemplate(template=prompt_template, input_variables=["text"])
chain = load_summarize_chain(OpenAI(temperature=0.6, 
                                    openai_api_key=api_key, 
                                    model_name="gpt-3.5-turbo",
                                    max_tokens=300), 
                             chain_type="map_reduce", return_intermediate_steps=True,
                             map_prompt=myprompt, combine_prompt=myprompt)

chain({"input_documents": threads}, return_only_outputs=True)

{'intermediate_steps': ['Berikut ringkasan threadnya: SQL (Structured Query Language) adalah bahasa pemrograman standar yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database. Bahasa ini diciptakan pada tahun 1970-an oleh periset dari IBM, Raymond Boyce dan Donald Chamberlin. Fungsi SQL dalam berkomunikasi dengan database terdiri atas empat fungsi utama yang disingkat CRUD, yaitu Create (membuat), Read (membaca), Update (memperbaharui), dan Delete (menghapus). Hampir semua loker data analyst memerlukan pemahaman SQL. Belajar SQL bisa dilakukan melalui website yang bisa langsung praktek, game interaktif, aplikasi di smartphone, atau dengan mengikuti program BIGH, Analytic & DS, Statistics, AI/ML Engineering dan Software & Data Engineering di Pacmann. Thread ini dilihat oleh 38938 akun, disukai oleh 406 akun, di-retweet oleh 59 akun, dan dikutip oleh 8 akun.'],
 'output_text': 'Berikut ringkasan threadnya: SQL adalah bahasa pemrograman yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database. Fungsi SQL terdiri atas empat fungsi utama yang disingkat CRUD. Hampir semua loker data analyst memerlukan pemahaman SQL. Belajar SQL bisa dilakukan melalui website, game interaktif, aplikasi di smartphone, atau dengan mengikuti program di Pacmann. Thread ini dilihat oleh 38938 akun, disukai oleh 406 akun, di-retweet oleh 59 akun, dan dikutip oleh 8 akun.'}

In [174]:
def get_thread_summary(output_thread):
    """
    This function takes in a Twitter thread and returns a concise summary of the thread with casual tone
    and displays the viewed counts, likes counts, retweets counts, and quotes counts at the end of the summary 
    all in Bahasa Indonesia.

    Args:
    output_thread (str): A Twitter thread as a string.

    Returns:
    str: A concise summary of the thread with the specified tone and counts.

    """
    # Split the Twitter thread into individual documents
    text_splitter = NLTKTextSplitter(separator="\n")
    texts = text_splitter.split_text(output_thread)
    threads = [Document(page_content=t) for t in texts[:3]]

    # Set the prompt template for the summarization task
    prompt_template = """ Write a concise summary of the following twitter thread:

    {text}

    CONCISE THREAD SUMMARY WITH CASUAL TONE AND DISPLAY THE VIEWED COUNTS, 
    LIKES COUNTS, RETWEETS COUNTS, AND QUOTES COUNTS AT THE END OF THE SUMMARY ALL IN BAHASA INDONESIA":
    """

    # Initialize the summarization chain and run the chain on the Twitter thread
    myprompt = PromptTemplate(template=prompt_template, input_variables=["text"])
    chain = load_summarize_chain(OpenAI(temperature=0.6, 
                                        openai_api_key=api_key, 
                                        model_name="gpt-3.5-turbo",
                                        max_tokens=300), 
                                chain_type="map_reduce", return_intermediate_steps=True,
                                map_prompt=myprompt, combine_prompt=myprompt)

    return chain({"input_documents": threads}, return_only_outputs=True)

In [172]:
ringkas = get_thread_summary(output)
ringkas

Retrying langchain.llms.openai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised APIConnectionError: Error communicating with OpenAI: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')).

{'intermediate_steps': ['Berikut ringkasan threadnya: Data analyst membutuhkan keahlian SQL dalam pekerjaannya. SQL (Structured Query Language) adalah bahasa pemrograman standar yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database. Fungsi SQL dalam berkomunikasi dengan database terdiri atas empat fungsi utama yang disingkat CRUD, yaitu Create, Read, Update, dan Delete. Hampir semua syarat kerja di bidang data memerlukan pemahaman SQL. Belajar SQL bisa dimulai dari website yang bisa langsung praktek, game interaktif, belajar sambil nongkrong, atau mengikuti program belajar di Pacmann. Jumlah akun yang melihat thread ini adalah 38.938, disukai oleh 406 akun, di-retweet oleh 59 akun, dan dikutip oleh 8 akun.'],
 'output_text': 'Berikut ringkasan threadnya: Untuk menjadi data analyst, diperlukan keahlian SQL. SQL adalah bahasa pemrograman standar yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database. Fungsi SQL terdiri atas empat fungsi utama yang disingkat CRUD, yaitu Create, Read, Update, dan Delete. Hampir semua syarat kerja di bidang data memerlukan pemahaman SQL. Belajar SQL bisa dimulai dari website yang bisa langsung praktek, game interaktif, belajar sambil nongkrong, atau mengikuti program belajar di Pacmann. Jumlah akun yang melihat thread ini adalah 38.938, disukai oleh 406 akun, di-retweet oleh 59 akun, dan dikutip oleh 8 akun.'}

In [173]:
ringkasan = ringkas["output_text"]
ringkasan

'Berikut ringkasan threadnya: Untuk menjadi data analyst, diperlukan keahlian SQL. SQL adalah bahasa pemrograman standar yang digunakan untuk menyimpan, menarik, dan memanipulasi data dalam sebuah relational database. Fungsi SQL terdiri atas empat fungsi utama yang disingkat CRUD, yaitu Create, Read, Update, dan Delete. Hampir semua syarat kerja di bidang data memerlukan pemahaman SQL. Belajar SQL bisa dimulai dari website yang bisa langsung praktek, game interaktif, belajar sambil nongkrong, atau mengikuti program belajar di Pacmann. Jumlah akun yang melihat thread ini adalah 38.938, disukai oleh 406 akun, di-retweet oleh 59 akun, dan dikutip oleh 8 akun.'